fastapi==0.116.1
langchain_mcp_adapters==0.2.1
langchain_openai==1.1.7
langfuse==3.12.1
langgraph==1.0.7
langchain==1.2.7
langchain-core==1.2.7
langgraph-checkpoint-redis==0.3.3
pydantic==2.11.10
python-dotenv==1.2.1
redis==6.4.0
uvicorn==0.40.0
